body {
  background-color: aquamarine;
}

.App {
  background: white;
}

.h1 {
  color: black;
  padding: 0.5em;
  /*文字周りの余白*/
  display: inline-block;
  /*おまじない*/
  line-height: 1.3;
  /*行高*/
  background: yellow;
  /*背景色*/
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;
  /*左側の角を丸く*/
}

h1:before {
  content: "●";
  color: white;
  margin-right: 8px;
}

.list {
  color: #1e366a;
  border-top: solid #1e366a 1px;
  /*上のボーダー*/
  border-bottom: solid #1e366a 1px;
  /*下のボーダー*/
  padding: 0.5em 0 0.5em 1.5em;
}

.nameS {
  color: red;
}

.nameT {
  color: red;
}

.errorText {
  color: red;
  font-weight: 700;
  font-size: x-large;
}